@model List<AcunMedyaAkademiPortfolyo.Models.TblStatistic>
<section id="stats" class="stats section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row gy-4 justify-content-center">
            @foreach (var item in Model)
            {
                <div class="col-lg-3 col-md-3 col-sm-6 d-flex flex-column align-items-center">
                    <i class="@item.StatisticIcon"></i>
                    <div class="stats-item">
                        <span data-purecounter-start="0" data-purecounter-end="@item.StatisticValue" data-purecounter-duration="1" class="purecounter"></span>
                        <p>@item.StatisticTitle</p>
                    </div>
                </div><!-- End Stats Item -->
            }
        </div>
    </div>
</section>
