
@{
    ViewBag.Title = "CreateSocialMedia";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Yeni Sosyal Medya Girişi</h2>
<form method="post">
    <label>Sosyal Medya Linki</label>
    <input type="text" class="form-control" name="SocialMediaLink" style="border:solid" />
    <br /> 
    
    <label>Sosyal Medya İkonu</label>
    <input type="text" class="form-control" name="SocialMediaIcon" style="border:solid" />
    <br />
    <button type="submit" class="btn btn-primary">Sosyal Meyda Ekle</button>
</form>


